<link rel="stylesheet" href="__CDN__/assets/addons/shopro/libs/element/element.css">
<style>
    #goodsIndex {
        background: #fff;
        padding: 0 20px;
        overflow: auto;
        color: #666;

    }

    .btn-common {
        line-height: 32px;
        height: 32px;
        cursor: pointer;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-box {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .refresh-btn {
        width: 32px;
        border: 1px solid #E6E6E6;
        font-size: 14px;
        margin-right: 20px;
    }

    .create-goods,
    .add-params,
    .add-level1-sku {
        width: 98px;
        background: #7536D0;
        color: #fff;
    }

    .create-goods span,
    .add-params span,
    .add-level1-sku span {
        margin-left: 8px;
    }

    .goods-name {
        display: flex;
        align-items: center;
    }

    .goods-img {
        width: 34px;
        height: 34px;
        margin-right: 10px;
    }

    .el-table,
    .el-table thead,
    .el-table th {
        color: #444;
        font-weight: 500 !important;
    }


    /* el-dialog */
    .el-dialog {
        width: 800px;
        height: 70vh;
        margin: 15vh auto;

    }

    .goods-dialog-big {
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        margin-top: 0 !important;
    }

    .goods-dialog-big .good-detail-body {
        height: calc(100vh - 200px);
        overflow: auto;
    }

    .el-dialog__header {
        padding: 16px 20px 10px;
    }

    .el-dialog__title {
        font-size: 14px;
        color: #444;
    }

    .el-dialog__headerbtn {
        font-size: 14px;
        color: #999;
    }

    .el-dialog__body {
        padding: 0;
    }

    .el-step.is-simple .el-step__title {
        font-size: 14px;
        font-weight: 600;
    }

    .el-step.is-simple .el-step__icon {
        display: none;
    }

    .el-step__title.is-finish {
        color: #7438D5;
    }

    .el-step__title.is-process {
        color: #666;
        font-weight: 500;
    }

    .el-step__title.is-wait {
        color: #999;
    }

    .el-form-item {
        margin-bottom: 20px;
    }

    .good-detail-body {
        padding: 20px 25px 10px 5px;
        height: calc(100vh - 120px);
        overflow: auto;
    }

    .good-detail-body::-webkit-scrollbar {
        width: 6px;
    }

    .good-detail-body::-webkit-scrollbar-thumb {
        width: 6px;
        background: #e6e6e6;
        height: 20px;
        border-radius: 3px;
    }

    .goods-type {
        width: 162px;
        height: 58px;
        border-radius: 4px;
        position: relative;
        margin-right: 20px;
    }

    .goods-type-img {
        border-radius: 4px;
    }

    .goods-type-selected {
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        border-radius: 50%;
        background: #7438D5;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        display: none;
        position: absolute;
        top: -8px;
        right: -8px;
    }

    .el-input__inner,
    .el-input__icon {
        line-height: 34px;
        height: 34px;
    }

    .display-flex {
        display: flex;
        align-items: center;
    }

    .add-img {
        width: 60px;
        height: 60px;
        border: 1px dashed #E6E6E6;
        border-radius: 4px;
        justify-content: center;
        margin-right: 30px;
        margin-bottom: 10px;
    }

    label {
        margin-bottom: 0;
    }

    .msg-tip {
        margin-left: 30px;
        color: #999;
    }

    .dialog-footer {
        display: flex;
        justify-content: flex-end;
        padding: 0 30px;
    }

    .back-btn {
        width: 88px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        margin-right: 20px;
        color: #999;
        cursor: pointer;
    }

    .sub-btn {
        width: 88px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        background: #7438D5;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
    }

    .goods-detail-table {
        border: 1px solid #E6E6E6;
        border-bottom: none;
        margin-bottom: 20px;
    }

    .goods-detail-item {
        border-bottom: 1px solid #E6E6E6;
    }

    .goods-detail-item>div {
        padding: 5px 10px;
    }

    .goods-detail-name {
        width: 120px;
    }

    .goods-detail-msg {
        width: 378px;
    }

    .goods-detail-del,
    .goods-detail-move {
        width: 50px;
        display: flex;
        justify-content: center;
    }

    .goods-detail-del-icon {
        color: #ff5959;
    }

    .del-image-btn {
        position: absolute;
        width: 14px;
        height: 14px;
        line-height: 14px;
        text-align: center;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 600;
        background: #7438D5;
        color: #fff;
        top: -7px;
        right: -7px;
    }

    .goods-images {
        width: 60px;
        height: 60px;
        border-radius: 4px;
        position: relative;
        border: 1px solid #7438D5;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .label-auto {
        width: 100%;
        height: 100%;
    }

    .el-radio__input.is-checked+.el-radio__label,
    .el-tabs__item.is-active,
    .el-tabs__item:hover,
    .el-pager li.active,
    .el-cascader-node.in-active-path,
    .el-cascader-node.is-active,
    .el-cascader-node.is-selectable.in-checked-path,
    .el-checkbox__input.is-checked+.el-checkbox__label,
    .el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
        color: #7438D5;
    }

    .el-radio__input.is-checked .el-radio__inner,
    .el-tabs__active-bar,
    .el-checkbox__input.is-checked .el-checkbox__inner,
    .el-checkbox__input.is-indeterminate .el-checkbox__inner {
        background: #7438D5;
        border-color: #7438D5;
    }

    .add-sku-box {
        padding: 10px 8px;
        border: 1px solid #E6E6E6;
    }

    .sku-item {
        background: #F9F9F9;
        height: 50px;
        padding: 10px;
    }

    .sku-item-level {
        height: auto;
    }

    .sku-item-level2 {
        height: auto;
        padding: 0;
        width: 600px;
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        line-height: 30px;
    }

    .sku-children {
        margin-right: 18px;
        position: relative;
        width: 120px;
        margin-bottom: 10px;
    }

    .sku-children-del {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        top: -8px;
        right: -8px;
        background: #7536D0;
        color: #fff;
        font-weight: 600;
        justify-content: center;
    }

    .sku-img {
        width: 34px;
        height: 34px;
        border-radius: 4px;
        position: relative;
    }

    .sku-img i {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        position: absolute;
        top: -7px;
        right: -7px;
        background: #7536D0;
        color: #fff;
        font-weight: 600;
        justify-content: center;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table-box {
        border: 1px solid #E6E6E6;
        margin: 20px 0;
        overflow-x: auto;
    }

    .table-box .table {
        table-layout: auto;
        margin: 0;
    }

    .table-box .table td,
    .table-box .table th {
        white-space: nowrap;
        min-width: 80px;
    }

    .table-upload-img {
        width: 34px;
        height: 34px;
        color: #E6E6E6;
        border-radius: 2px;
        border: 1px solid #E6E6E6;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .all-edit-img {
        width: 14px;
        height: 14px;
        margin-left: 6px;
    }

    .sku-status {
        cursor: pointer;
    }

    .el-dialog__body .table {
        font-size: 12px;
        margin-bottom: 0;
    }

    .th-center {
        height: 34px;
        line-height: 34px;
    }

    .w-e-toolbar {
        display: flex;
        flex-wrap: wrap;
    }

    .el-cascader,
    .el-select {
        width: 100%;
    }

    .el-popover .el-input {
        margin-bottom: 10px;
    }

    .el-button--primary,
    .el-button--primary:hover {
        color: #FFF;
        background-color: #7536D0;
        border-color: #7536D0;
    }

    .el-popover .el-button--text {
        color: #7536D0;
    }

    .color-999 {
        color: #999;
    }

    .popover-container>p {
        margin-bottom: 10px;
    }

    .question-tip {
        font-size: 24px;
        color: #ccc;
        margin-left: 18px;
    }

    .el-radio {
        margin-right: 12px;
    }

    .flex-1 {
        flex: 1;
    }

    .create-template {
        margin-left: 44px;
        cursor: pointer;
        color: #7536D0;
    }

    .el-tabs__content {
        height: 190px;
        overflow: auto;
    }

    .category-inputs input,
    .category-inputs:focus input,
    .category-inputs:hover input {
        background: none;
        border: none;
        border-color: rgba(0, 0, 0, 0) !important;
    }

    .nice-validator .el-input__inner {
        vertical-align: baseline !important;
    }

    .table-stock-warning-switch {
        line-height: 32px;
        height: 32px;
        margin-right: 8px;
    }

    .table-input {
        width: 80px;
    }

    .stock-warning-switch-tip {
        margin-left: 30px;
        color: #999;
        font-size: 12px;
    }

    .table-stock-warning-switch-tip {
        margin-left: 8px;
    }
    .table-goods-image {
        width: 44px;
        height: 44px;
        margin-right: 15px;
        flex-shrink: 0;
        border: 1px solid #e6e6e6;
    }
    .table-good-status-delete {
        color: #F54747;
    }
    [v-cloak] {
        display: none
    }
</style>
<script src="__CDN__/assets/addons/shopro/libs/vue.js"></script>
<script src="__CDN__/assets/addons/shopro/libs/element/element.js"></script>
<script src="__CDN__/assets/addons/shopro/libs/Sortable.min.js"></script>
<script src="__CDN__/assets/addons/shopro/libs/vuedraggable.js"></script>
<script src="__CDN__/assets/addons/shopro/libs/moment.js"></script>
<div id="goodsDetail" v-cloak style="height: calc(100vh - 63px);">
    <div class="preview-body">
        <el-steps :active="stepActive" simple>
            <el-step title="1、基础信息"></el-step>
            <el-step title="2、藏品详情"></el-step>
        </el-steps>
        <div class="good-detail-body">
            <el-form :model="goodsDetail" :rules="rules" ref="goodsDetail" label-width="110px" class="demo-goodsDetail">
                <div v-if="stepActive==1">
                    <el-form-item label="藏品主图：" prop="image">
                        <div class="display-flex">
                            <div class="goods-image-box display-flex" v-if="goodsDetail.image">
                                <div class="goods-images" style="margin-right: 0;">
                                    <img class="label-auto" :src="Fast.api.cdnurl(goodsDetail.image)"
                                         style="border-radius: 4px;">
                                    <div class="del-image-btn" @click="delImg('image',null)">
                                        <img class="label-auto" src="/assets/addons/shopro/img/goods/close.png">
                                    </div>
                                </div>
                            </div>
                            <div class="add-img display-flex" @click="addImg('image',null,false)"
                                 v-if="!goodsDetail.image">
                                <i class="el-icon-plus"></i>
                            </div>
                        </div>
                    </el-form-item>
                    <el-form-item label="藏品标题：" prop="title">
                        <el-input type="input" v-model="goodsDetail.title" size="small"></el-input>
                    </el-form-item>
                    <el-form-item label="藏品状态：" prop="status">
                        <el-radio-group v-model="goodsDetail.status">
                            <el-radio label="up">上架</el-radio>
                            <el-radio label="hidden">隐藏</el-radio>
                            <el-radio label="down">下架</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="藏品分类：" prop="category_ids">
                        <div class="display-flex">
                            <div class="flex-1">
                                <el-select v-model="goodsDetail.category_ids" clearable  placeholder="请选择" size="small" style="width:300px"
                                           @focus="getCategoriesOptions">
                                    <el-option v-for="item in categoryOptions" :key="item.value" :label="item.name"
                                               :value="item.id">
                                    </el-option>
                                </el-select>
                            </div>
                            <div style="cursor: pointer;color: #7438D5;margin-left: 30px;flex-shrink: 0;"
                                 @click="createCategory">新建分类
                            </div>
                        </div>
                    </el-form-item>
                    <el-form-item label="售卖价格：" prop="price" v-if="goodsDetail.is_sku==0">
                        <div class="display-flex">
                            <el-input v-enter-number type="number" v-model="goodsDetail.price" style="width:300px"
                                      size="small">
                            </el-input>
                        </div>
                    </el-form-item>
                    <div v-if="goodsDetail.is_sku==0">
                        <el-form-item label="发行数量：" prop="stock">
                            <div class="display-flex">
                                <el-input type="number" min="0" v-model="goodsDetail.stock" style="width:300px"
                                          size="small">
                                    <template slot="append">个</template>
                                </el-input>
                            </div>
                        </el-form-item>
                        <el-form-item label="藏品编号：">
                            <div class="display-flex">
                                <el-input type="input" v-model="goodsDetail.sn" style="width:300px" size="small">
                                </el-input>
                            </div>
                        </el-form-item>
                    </div>
                    <el-form-item label="藏品创作方：">
                        <div class="display-flex">
                            <div class="flex-1">
                                <el-select v-model="timeData.brand_ids_arr" placeholder="请选择" multiple size="small"
                                           @change="brandChange" @focus="getBrandOptions">
                                    <el-option v-for="item in brandOptions" :key="item.value" :label="item.name"
                                               :value="item.id">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="create-template" @click="createTemplate('brand')">
                                新建创作方
                            </div>
                        </div>
                    </el-form-item>
                    <el-form-item label="是否合成：" prop="is_syn">
                        <el-radio-group v-model="goodsDetail.is_syn">
                            <el-radio :label='0'>否</el-radio>
                            <el-radio :label='1'>是</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <div v-if="goodsDetail.is_syn == 1">
                        <el-form-item label="可直接购买：" prop="can_sales">
                            <div class="display-flex">
                                <el-radio-group v-model="goodsDetail.can_sales">
                                    <el-radio :label="0">否</el-radio>
                                    <el-radio :label="1">是</el-radio>
                                </el-radio-group>
                                <div class="msg-tip">合成藏品是否可直接进行出售</div>
                            </div>
                        </el-form-item>
                        <el-form-item label="合成期限：">
                            <div class="display-flex">
                                <el-date-picker
                                        v-model="goodsDetail.syn_end_time"
                                        type="datetime"
                                        value-format="timestamp"
                                        placeholder="选择合成期限" >
                                </el-date-picker>
                                <div class="msg-tip"></div>
                            </div>
                        </el-form-item>
                        <el-form-item label="合成藏品：" prop="goods_list">
                            <div>
                                <el-button type="primary"  @click="goodsSelect">
                                    藏品选择
                                </el-button>
                            </div>
                        </el-form-item>
                        <el-form-item style="margin-bottom: 20px;">
                            <el-table :data="goodsDetail.goods_list" style="width: 100%" v-if="goodsDetail.goods_list?.length>0">
                                <el-table-column label="藏品信息" width="320" align="left">
                                    <template slot-scope="scope">
                                        <div class="display-flex">
                                            <div class="table-goods-image">
                                                <el-image v-if="scope.row.image" :src="Fast.api.cdnurl(scope.row.image)"
                                                          fit="cover">
                                                    <div slot="error" class="image-slot">
                                                        <i class="el-icon-picture-outline"></i>
                                                    </div>
                                                </el-image>
                                            </div>
                                            <span class="ellipsis-item-2">{{scope.row.title}}</span>
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column label="操作" min-width="100">
                                    <template slot-scope="scope">
                                        <template>
                                        <span class="table-good-status-delete cursor-pointer"
                                              @click="goodsDelete(scope.$index)">
                                        移除
                                        </span>
                                        </template>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </el-form-item>
                    </div>

                </div>

                <div v-if="stepActive==2">
                    <el-form-item label="预售时间：" v-if="goodsDetail.can_sales == 1 || goodsDetail.is_syn == 0">
                        <el-date-picker
                                v-model="goodsDetail.sales_time"
                                type="datetime"
                                value-format="timestamp"
                                placeholder="选择预售时间">
                        </el-date-picker>
                    </el-form-item>


                    <el-form-item label="浏览人数：">
                        <el-input type="number" v-model="goodsDetail.views"  style="width:300px;" size="small"></el-input>
                    </el-form-item>

                    <el-form-item label="排序：" prop="weigh">
                        <div class="display-flex">
                            <el-input type="number" v-model="goodsDetail.weigh" style="width:300px;" size="small">
                            </el-input>
                            <div class="msg-tip">排序的大小默认按照从大到小排列</div>
                        </div>
                    </el-form-item>
                    <el-form-item label="标志：">
                        <div class="display-flex">
                            <div class="flex-1">
                                <el-select v-model="timeData.tag_arr" placeholder="请选择" multiple size="small"
                                           @change="tagChange">
                                    <el-option v-for="item in tagOptions" :key="item.value" :label="item.name"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>

                        </div>
                    </el-form-item>
                    <el-form-item label="藏品标签：">
                        <div class="display-flex">
                            <div class="flex-1">
                                <el-select v-model="timeData.service_ids_arr" placeholder="请选择" multiple size="small"
                                    @change="serviceChange" @focus="getServiceOptions">
                                    <el-option v-for="item in serviceOptions" :key="item.value" :label="item.name"
                                        :value="item.id">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="create-template" @click="createTemplate('service')">
                                新建标签
                            </div>
                        </div>
                    </el-form-item>
                    <el-form-item label="购买须知：">
                        <div class="display-flex">
                            <div class="flex-1">
                                <el-input type="textarea" v-model="goodsDetail.note"></el-input>

                            </div>
                        </div>
                    </el-form-item>
                </div>
                <form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action=""
                    v-show="stepActive==2">
                    <div class="display-flex" style="margin: 0;align-items: flex-start;">
                        <label class="control-label" style="width: 100px;
                        padding-right: 20px;
                        font-weight: 600;
                        font-size: 14px;
                        color: #606266;">{:__('Content')}:</label>
                        <div style="flex: 1;">
                            <textarea id="c-content" class="form-control editor" rows="5" name="row[content]"
                                cols="50"></textarea>
                        </div>
                    </div>
                </form>
            </el-form>
        </div>
    </div>
    <span slot="footer" class="dialog-footer">
        <div class="back-btn" v-if="stepActive>1" @click="gonextback">上一步</div>
        <div class="btn-common sub-btn" v-if="stepActive<2" @click="gotoback('goodsDetail')">下一步</div>
        <div class="btn-common sub-btn" v-if="stepActive==2" @click="submitForm('goodsDetail',0)">保存</div>
        <div class="btn-common sub-btn" style="margin-left: 10px;background-color: #F56C6C" v-if="stepActive==2" @click="submitForm('goodsDetail',1)">发行</div>
    </span>
</div>